<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Music App</a>
    by TKY
  </small>
  <nav>
    <ul>
      <li><%= link_to "mmm",   '#' %></li>
      <li><%= link_to "mmm", '#' %></li>
      <li><a href="http://localhost:3000/static_pages/home">News</a></li>
    </ul>
  </nav>
</footer>